<div id="home">
    <nav class="navbar bg-dark navbar-expand-md navbar-dark fixed-top">
        <a class="navbar-brand" href="#home"><img src="assets/logo.png"></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="menu" aria-expanded="false" aria-label="Przełącznik nawigacji">
           <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#O-nas">O nas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#datki">Datki</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#organizacje">Organizacje</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#lokacje">Lokacje</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#dolacz-do-nas">Dołącz do nas</a>
                </li>
            </ul>

        </div>

    </nav>


    <div class="landing">
        <div class="home-wrap">
            <div class="home-inner">
            </div>
        </div>
    </div>

    <div class="caption text-center">
        <h1>Zmień swoje życie i <br>innych dołączając<br> do grona 10,000+ <br>aktywnych<br> użytkowników</h1>
        <a class="btn btn-outline-light btn-lg" href="#dolacz-do-nas">Zaczynajmy</a>
    </div>

</div>

<div id="O-nas" class="offset">
    <div class="column-12 narrow text-center">
        <h1>
            Czym się zajmujemy?
        </h1>
        <p class="lead">
            Od 3 lat podejmujemy się wyzwaniu pomocy innym zapewniając bezproblemową możliwość zapisów do biegów charytatywnych
        </p>
        <h2>
            Kto może dołączyć?
        </h2>
        <p class="lead">
            Zapraszamy wszystkich zainteresowanych do wzięcia udziału i odmienienia życia swojego i innych na lepsze. Nie musisz być maratończykiem żeby wziąć udział. Jeżeli jesteś amatorem, i dla ciebie znajdziemy bieg
        </p>
        <h2>
            Czy warto brać udział?
        </h2>
        <p class="lead">
            Jeżeli chcesz poczuć, że twoja pasja ma wpływ nie tylko na Ciebie, lecz na innych, a przy okazji pomoc w dobrym celu, to zaufaj nam i weź udział w biegu
        </p>

    </div>
</div>

<div id="datki" class="offset">
    <div class="jumbotron jumbotron-fluid">
        <div class="narrow">
            <div class="col-12 text-center">
                <h2 class="heading">Datki</h2>
                <div class="heading-underline">
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <div class="feature">
                        <h2>
                            <br> Pomóż wpłacając drobną kwotę
                        </h2>
                        <p class="lead">
                            Jeśli podoba Ci się nasza misja i chcesz nas wspomóc,<br> możesz to zrobić przekazując niewielką sumę,<br> jesteśmy za to bardzo wdzięczni :)
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="feature">
                        <i class="fa-solid fa-hand-holding-dollar fa-4x" data-fa-transform="shrink-3 up-5"></i>
                    </div>
                    <div>
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Imię">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Nazwisko">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="e-mail">
                                </div>
                                <div class="col-md-6">
                                    <input type="number" class="form-control" placeholder="kwota">
                                </div>
                            </div>
                            <div class="row">
                                <div class="column-md-12">
                                    <a class="btn btn-outline-light btn-light" id="paypal" href="https://www.paypal.com/pl/home">PayPal</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="organizacje" class="offset">
    <div class="fixed-background">
        <div class="row dark text-center">
            <div class="col-md-12 text-center">
                <h2 class="heading">Nasi partnerzy</h2>
                <div class="heading-underline"></div>
            </div>
            <div class="col-md-2">
                <h3>Caritas</h3>
                <div class="feature">
                    <a href="https://caritas.pl/"><img src="../assets/caritas.png" alt="Caritas" width="200px"></a>
                </div>
            </div>
            <div class="col-md-2">
                <h3>PKO BP</h3>
                <div class="feature">
                    <a href="https://www.pkobp.pl/"><img src="../assets/pko.png" alt="PKO" width="200px"></a>
                </div>
            </div>
            <div class="col-md-2">
                <h3>Fujitsu</h3>
                <div class="feature">
                    <a href="https://www.fujitsu.com/pl/"><img src="../assets/fuji.png" alt="Fujitsu" width="200px"></a>
                </div>
            </div>
            <div class="col-md-2">
                <h3>Politechnika Łódzka</h3>
                <div class="feature">
                    <a href="https://p.lodz.pl/"><img src="../assets/politechnika.jpg" alt="Politechnika Łódzka" width="110px"></a>
                </div>
            </div>
            <div class="col-md-2">
                <h3>Zrzutka</h3>
                <div class="feature">
                    <a href="https://zrzutka.pl/"><img src="../assets/zrzutka.png" alt="Zrzutka" width="180px"></a>
                </div>
            </div>
            <div class="col-md-2">
                <h3>WHO</h3>
                <div class="feature">
                    <a href="https://www.who.int/"><img src="../assets/who.png" alt="World Heath Organization" width="180px"></a>
                </div>
            </div>
        </div>
        <div class="fixed-wrap">
            <div class="fixed"></div>
        </div>
    </div>
</div>

<div id="lokacje" class="offset">
    <div class="jumbotron jumbotron-fluid">
        <div class="narrow">
            <div class="col-12 text-center">
                <h2 class="heading">Obecnie działamy w 3 miastach!</h2>
                <div class="heading-underline">
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <img src="assets/pol.png" class="img-fluid" alt="Mapa Polski">
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>

<div id="dolacz-do-nas" class="offset">
    <div class="col-md-12 text-center">
        <h2 class="heading">Zapisz się na bieg</h2>
        <div class="heading-underline"></div>
    </div>
    <div class="row" id="tabela">
        <div class="col-md-1 text-center">
            <p class="heading"></p>
        </div>
        <div class="col-md-2 text-center">
            <p class="heading">Miejscowość</p>
        </div>
        <div class="col-md-2 text-center">
            <p class="heading">Data</p>
        </div>
        <div class="col-md-2 text-center">
            <p class="heading">Odległość</p>
        </div>
        <div class="col-md-2 text-center">
            <p class="heading">Zaawansowanie</p>
        </div>
        <div class="col-md-3 text-center">
            <p class="heading">Cel</p>
        </div>
    </div>
    <div class="row" id="tabela2">
        <div class="col-md-1 text-center">
            <p class="heading">1.</p>
        </div>
        <div class="col-md-2 text-center">
            <p class="heading">Łódź</p>
        </div>
        <div class="col-md-2 text-center">
            <p class="heading">22.06.2022</p>
        </div>
        <div class="col-md-2 text-center">
            <p class="heading">10km</p>
        </div>
        <div class="col-md-2 text-center">
            <p class="heading">Średnio zaawanoswany</p>
        </div>
        <div class="col-md-3 text-center">
            <div class="feature">
                <a href="https://zrzutka.pl/wsparcie-zywnosciowe-dla-charkowa-i-wyzwolonych-wiosek-pomoz-zaladowac-kolejna-naczepe-jedzeniem-dla-timura-i-jego-komandy" target="_blank">Wsparcie dla Charkowa</a>
            </div>
        </div>
    </div>
    <div class="row" id="tabela">
        <div class="col-md-1 text-center">
            <p class="heading">2.</p>
        </div>
        <div class="col-md-2 text-center">
            <p class="heading">Warszawa</p>
        </div>
        <div class="col-md-2 text-center">
            <p class="heading">10.07.2022</p>
        </div>
        <div class="col-md-2 text-center">
            <p class="heading">28km</p>
        </div>
        <div class="col-md-2 text-center">
            <p class="heading">Zaawansowany</p>
        </div>
        <div class="col-md-3 text-center">
            <div class="feature">
                <a href="https://zrzutka.pl/roza" target="_blank">Mieszkanie dla paraolimpijki</a>
            </div>
        </div>
    </div>
    <div class="row" id="tabela2">
        <div class="col-md-1 text-center">
            <p class="heading">3.</p>
        </div>
        <div class="col-md-2 text-center">
            <p class="heading">Wrocław</p>
        </div>
        <div class="col-md-2 text-center">
            <p class="heading">27.07.2022</p>
        </div>
        <div class="col-md-2 text-center">
            <p class="heading">42km</p>
        </div>
        <div class="col-md-2 text-center">
            <p class="heading">Zaawansowany/Zawodowiec</p>
        </div>
        <div class="col-md-3 text-center">
            <div class="feature">
                <a href="https://zrzutka.pl/plucazuzi" target="_blank">Płuca dla zuzi</a>
            </div>
        </div>
    </div>
    <div class="row" id="tabela">
        <div class="col-md-1 text-center">
            <p class="heading">4.</p>
        </div>
        <div class="col-md-2 text-center">
            <p class="heading">Wrocław</p>
        </div>
        <div class="col-md-2 text-center">
            <p class="heading">16.08.2022</p>
        </div>
        <div class="col-md-2 text-center">
            <p class="heading">30km</p>
        </div>
        <div class="col-md-2 text-center">
            <p class="heading">Zaawansowany</p>
        </div>
        <div class="col-md-3 text-center">
            <div class="feature">
                <a href="https://zrzutka.pl/materialy-medyczne-i-leki-dla-rannych-na-ukrainie" target="_blank">Materiały medyczne dla ukrainy</a>
            </div>
        </div>
    </div>
    <div class="row" id="tabela2">
        <div class="col-md-1 text-center">
            <p class="heading">5.</p>
        </div>
        <div class="col-md-2 text-center">
            <p class="heading">Warszawa</p>
        </div>
        <div class="col-md-2 text-center">
            <p class="heading">20.09.2022</p>
        </div>
        <div class="col-md-2 text-center">
            <p class="heading">5km</p>
        </div>
        <div class="col-md-2 text-center">
            <p class="heading">Początkujący</p>
        </div>
        <div class="col-md-3 text-center">
            <div class="feature">
                <a href="https://zrzutka.pl/nie-pozwolmy-by-wypadek-przekreslil-przyszlosc-bruna" target="_blank">Operacja ręki Bruna</a>
            </div>
        </div>
    </div>
    <div class="row" id="tabela">
        <div class="col-md-1 text-center">
            <p class="heading">6.</p>
        </div>
        <div class="col-md-2 text-center">
            <p class="heading">Łódź</p>
        </div>
        <div class="col-md-2 text-center">
            <p class="heading">14.10.2022</p>
        </div>
        <div class="col-md-2 text-center">
            <p class="heading">12km</p>
        </div>
        <div class="col-md-2 text-center">
            <p class="heading">Średnio zaawansowany</p>
        </div>
        <div class="col-md-3 text-center">
            <div class="feature">
                <a href="https://www.bing.com/search?q=dom+dziecka+nr+4+%C5%81%C3%B3d%C5%BA&qs=n&form=QBRE&sp=-1&pq=dom+dziecka+nr+4+%C5%82%C3%B3d%C5%BA&sc=1-21&sk=&cvid=EEDE85991EE24F658D8D73FB90043A29" target="_blank">Dom dziecka nr 4 w Łodzi</a>
            </div>
        </div>
    </div>
    <div class="row" id="tabela2">
        <div class="col-md-1 text-center">
            <p class="heading">6.</p>
        </div>
        <div class="col-md-2 text-center">
            <p class="heading">Łódź</p>
        </div>
        <div class="col-md-2 text-center">
            <p class="heading">14.10.2022</p>
        </div>
        <div class="col-md-2 text-center">
            <p class="heading">15km</p>
        </div>
        <div class="col-md-2 text-center">
            <p class="heading">Średnio zaawansowany</p>
        </div>
        <div class="col-md-3 text-center">
            <div class="feature">
                <a href="https://zrzutka.pl/n7smyn" target="_blank">Odbudowa pałacu w Gądnie</a>
            </div>
        </div>
    </div>

    <app-form>

    </app-form>
</div>

<footer>
    <div class="row justify-content-center">
        <div class="col-md-5 text-center">
            <img src="assets/logo.png">
            <p>Jeżeli chcesz się skontaktować w sprawach biznesowych prosimy o ktonrakt poprzez mail bądz telefon</p>
            <strong>Kontakt</strong>
            <p>888-888-888<br>email@gmail.com</p>
            <a href="" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        </div>
        <hr class="socket"> &copy; BiegajZnami
    </div>
</footer>